<div class="container">
  {{outlet}}

  <div class="row">
    <div class="col-xs-12">
      <div class="footer">
        <p class="text-center">
          Check out <a href="http://hdn.io/#issues">past issues</a>. <br/>
          Hacked together by <a href="http://jpadilla.com">José Padilla</a>. <br /> <a href="http://hdn.io">Subscribe</a> to the newsletter. <br /> <span class="last-updated">Last updated <span class="last-updated-minutes">some time</span> ago.</span>
        </p>
      </div>
    </div>
  </div>
</div>

