<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h1 class="source-title hacker-news">
        <a href="https://news.ycombinator.com/" target="_blank">Hacker News</a>
      </h1>
      <div id="hn-posts">
        {{#each model.hackerNews as |post|}}
          {{hdn-post post=post}}
        {{/each}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h1 class="source-title designer-news">
        <a href="https://www.designernews.co/" target="_blank">Designer News</a>
      </h1>
      <div id="dn-posts">
        {{#each model.designerNews as |post|}}
          {{hdn-post post=post}}
        {{/each}}
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="footer">
        <p class="text-center">
          Check out <a href="http://hdn.io/#issues">past issues</a>. <br/>
          Hacked together by <a href="http://jpadilla.com">José Padilla</a>. <br /> <a href="http://hdn.io">Subscribe</a> to the newsletter.
        </p>
      </div>
    </div>
  </div>
</div>
